
@{
    ViewData["Title"] = "Libros";
}

<h1>Buscar Libros de una Editorial</h1>

<form asp-controller="Home" asp-action="Libros" method="post">

  <label>Ingresar Editorial</label>
  
  <input type="text"/>

  <button type="submit">Buscar</button>
</form>

